.contacts
    a.contact(href="tel:+3806060606")
        i.fa.fa-mobile.contact__icon.contact__icon(aria-hidden="true")
        span.contact__text--phone 6363 3128
    a.contact(href="mailto: info@business.co")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text mikhail2013ru@gmail.com
    a.facebook-icon(href="http://facebook.com")
        i.fa.fa-facebook(aria-hidden="true")