.contacts
    a.contact(href="skype: skype__xenus-77")
        i.fa.fa-skype.contact__icon.contact__icon--skype(aria-hidden="true")
        span.contact__text--phone xenus-77
    a.contact(href="mailto: info@business.co")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text mikhail2013ru@gmail.com
    a.facebook-icon(href="http://facebook.com")
        i.fa.fa-facebook(aria-hidden="true")